<div class="container">
  <div class="panel">
    <table class="table">
      <caption>Hilary Clinton speech (excerpt) Duration: 38009.63</caption>
      <tr>
        <td><b>Segment</b></td>
        <td><b>Gender</b></td>
        <td><b>Primary Mood</b></td>
        <td><b>Secondary Mood</b></td>
        <td><b>Arousal</b></td>
        <td><b>Temper</b></td>
        <td><b>Valence</b></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Female</td>
        <td>Bestowing affection and love</td>
        <td>Controlled communicator. "Teacher/class" scenario</td>
        <td>79.87 "high"</td>
        <td>24.46 "medium"</td>
        <td>15.56 "negative"</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Female</td>
        <td>Happiness, satisfaction, love</td>
        <td>Ambitious. Assertiveness to achieve goals</td>
        <td>64.38 "neutral"</td>
        <td>29.68 "medium"</td>
        <td>"41.20 "neutral"</td>
      </tr>
    </table>
  </div>
</div>
