<div class="container">
<!--   <div class="panel">
    <table class="table">
      <caption>Hilary Clinton speech (excerpt) Duration: 38009.63</caption>
      <tr>
        <td><b>Segment</b></td>
        <td><b>Gender</b></td>
        <td><b>Primary Mood</b></td>
        <td><b>Secondary Mood</b></td>
        <td><b>Arousal</b></td>
        <td><b>Temper</b></td>
        <td><b>Valence</b></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Female</td>
        <td>Bestowing affection and love</td>
        <td>Controlled communicator. "Teacher/class" scenario</td>
        <td>79.87 "high"</td>
        <td>24.46 "medium"</td>
        <td>15.56 "negative"</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Female</td>
        <td>Happiness, satisfaction, love</td>
        <td>Ambitious. Assertiveness to achieve goals</td>
        <td>64.38 "neutral"</td>
        <td>29.68 "medium"</td>
        <td>"41.20 "neutral"</td>
      </tr>
    </table>
  </div> -->
    <div class="panel">
    <table class="table">
      <caption><a href="https://twitter.com/kimakami1/status/809281021958983680" target="_blank">Kim #bitsbytesLA1 </a>QUESTION 1: How do you get to your home from school/work?</caption>
      <tr>
        <td><b>Segment</b></td>
        <td><b>Interpreted Gender</b></td>
        <td><b>Primary Mood</b></td>
        <td><b>Secondary Mood</b></td>
        <td><b>Arousal</b></td>
        <td><b>Temper</b></td>
        <td><b>Valence</b></td>
        <td><b>Map</b></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Male</td>
        <td>Passionate creativity. Strongly driven.</td>
        <td>Love. Belonging. Patronage.</td>
        <td>28.75 "low"</td>
        <td>32.02 "medium"</td>
        <td>9.01 "negative"</td>
        <td rowspan="1"><img src="../assets/kim.jpg" height="100px" width="100px"/></td>
      </tr>
    </table>
  </div>
  <div class="panel">
    <table class="table">
      <caption><a href="https://twitter.com/Ellie_e/status/809289725269839873" target="_blank">Elese #bitsbytesLA1 </a>QUESTION 1: How do you get to your home from school/work?</caption>
      <tr>
        <td><b>Segment</b></td>
        <td><b>Interpreted Gender</b></td>
        <td><b>Primary Mood</b></td>
        <td><b>Secondary Mood</b></td>
        <td><b>Arousal</b></td>
        <td><b>Temper</b></td>
        <td><b>Valence</b></td>
        <td><b>Map</b></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Female</td>
        <td>Happiness, satisfaction, love.</td>
        <td>Blabbering, friendship and warmth.</td>
        <td>65.79 "neutral"</td>
        <td>23.63 "medium"</td>
        <td>63.98 "positive"</td>
        <td rowspan="2"><img src="../assets/elese_map.jpg" height="100px" width="100px"/></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Female</td>
        <td>Extroverted leadership. Pompousness.</td>
        <td>Happiness, elation.</td>
        <td>43.16 "neutral"</td>
        <td>26.93 "medium"</td>
        <td>40.53 "neutral"</td>
      </tr>
    </table>
  </div>
    <div class="panel">
    <table class="table">
      <caption><a href="https://twitter.com/yunqiaohuang/status/809245948429729792" target="_blank">Chloe #bitsbytesLA1 </a>QUESTION 1: How do you get to your home from school/work?</caption>
      <tr>
        <td><b>Segment</b></td>
        <td><b>Interpreted Gender</b></td>
        <td><b>Primary Mood</b></td>
        <td><b>Secondary Mood</b></td>
        <td><b>Arousal</b></td>
        <td><b>Temper</b></td>
        <td><b>Valence</b></td>
        <td><b>Map</b></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Female</td>
        <td>Disappointment and melancholy. Search for warmth.</td>
        <td>Self-confidence and self-control in the face of struggle.</td>
        <td>16.29 "low"</td>
        <td>16.89 "low"</td>
        <td>53.05 "neutral"</td>
        <td rowspan="2"><img src="../assets/chloe.jpg" height="100px" width="100px"/></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Female</td>
        <td>High self-control, actions based on conviction. Need to be free of weakness.</td>
        <td>Attempting to mask deep emotions.</td>
        <td>10.79 "low"</td>
        <td>18.78 "low"</td>
        <td>32.82 "neutral"</td>
      </tr>
    </table>
  </div>
   <div class="panel">
    <table class="table">
      <caption><a href="https://twitter.com/paulajburke/status/809230195886583808" target="_blank">Paula #bitsbytesLA1 </a>QUESTION 1: How do you get to your home from school/work?</caption>
      <tr>
        <td><b>Segment</b></td>
        <td><b>Interpreted Gender</b></td>
        <td><b>Primary Mood</b></td>
        <td><b>Secondary Mood</b></td>
        <td><b>Arousal</b></td>
        <td><b>Temper</b></td>
        <td><b>Valence</b></td>
        <td><b>Map</b></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Female</td>
        <td>Pain and search for emotional warmth and/or recognition.</td>
        <td>Painful communication. High sensitivity.</td>
        <td>7.25 "low"</td>
        <td>20.39 "low"</td>
        <td>50.87 "neutral"</td>
        <td rowspan="2"><img src="../assets/paula.jpg" height="100px" width="100px"/></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Female</td>
        <td>Coping with an emotional load. Concerns.</td>
        <td>Action to achieve goal from a position of weakness and conviction.</td>
        <td>50.62 "neutral"</td>
        <td>14.62 "low"</td>
        <td>46.09 "neutral"</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Female</td>
        <td>Pain and search for emotional warmth and/or recognition.</td>
        <td>Seeking contact/warmth. Fear of failure.</td>
        <td>70.51 "neutral"</td>
        <td>19.95 "low"</td>
        <td>49.16 "neutral"</td>
      </tr>
    </table>
  </div>

</div>
